.wrapping {
  display: grid;
  gap: 1em;
  width: 300px;
}
.tab {
  background-color: var(--color-secondary-light);
  color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}
.tab--selection {
  background-color: var(--color-secondary);
  color: white;
  padding: 1em;
}
.tab-option {
  padding: 1em;
}
