.welcome {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  color: var(--color-contrast);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__titel {
  animation: swirl 5s ease-in 0s infinite normal forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-20em);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swirl {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
