@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #91c788;
  --color-secondary: #ff8473;
  --color-secondary-light: #fff8ee;
  --color-background-primary: #f4f4f4;
  --color-contrast: #fff;
  --font-family: "Signika", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Signika", sans-serif;
}
